name: Test package
on: push

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      # checkout
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6

      # setup node
      - uses: actions/setup-node@v6.2.0
        with:
          node-version: '24'
          registry-url: 'https://registry.npmjs.org'

      # install dependencies
      - name: Install dependencies
        run: yarn install --frozen-lockfile

      # build
      - name: Build package
        run: yarn run build

      # test
      - name: Run tests
        run: yarn run test
