name: Test package
on: push

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      # checkout
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6

      # setup node
      - uses: actions/setup-node@v6.1.0
        with:
          node-version: '22'
          registry-url: 'https://registry.npmjs.org'

      # install dependencies
      - name: Install dependencies
        run: yarn install --frozen-lockfile

      # build
      - name: Build package
        run: yarn run build

      # test
      - name: Run tests
        run: yarn run test
