name: Test package
on: push

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      # checkout
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6

      # setup node
      - uses: actions/setup-node@v5.0.0
        with:
          node-version: '24'
          registry-url: 'https://registry.npmjs.org'

      # install dependencies
      - name: Install dependencies
        run: yarn install --frozen-lockfile

      # build
      - name: Build package
        run: yarn run build

      # test
      - name: Run tests
        run: yarn run test
